<html>

<body> <!--  style="font-family: arial,sans-serif; font-size: 12px" -->
   
<p>Hi #name,</p>

<p>Congratulations on winning the #prize from the #drawingDate drawing! We're excited to spread the
   word around on 2b4me and what we want to offer the South Florida market (and beyond)!
   Please allow up to two weeks for your prize to arrive. And because this is an on-going
   promotion, you are eligible to win at every drawing until the end of the contest! So
   keep checking back to see if your contest number is drawn in a future drawing.</p>

<p>Thank you for participating, good luck in future drawings and please remember to tell
   your friends!</p>

<p>&nbsp;</p>

<p>Love,<br/>
<strong>Team 2b4me</strong></p>

<p>Like us on Facebook: <a href="http://facebook.com/2b4me">facebook.com/2b4me</a><br/>
   Follow us on Twitter: <a href="http://twitter.com/2b4me_deals">@2b4me_deals</a></p>

<p>&nbsp;</p>

<hr/>

<p>Don't care for these emails? You can
   <a href="mailto:info@2b4me.com?subject=UNSUBSCRIBE">click here</a> to unsubscribe from
   all future contest notifications with no fuss:
   <a href="mailto:info@2b4me.com?subject=UNSUBSCRIBE">Unsubscribe</a>.</p>

<p><strong>2b4me.com Inc.</strong>, 55 Merrick Way, Coral Gables, FL 33134. To contact us,
   <a href="mailto:info@2b4me.com">click here</a>.</p>

</body>

</html>