<html>

<body>
   <table style="width: 500px;">
      <tr>
         <td>
            <table cellpadding="0" cellspacing="0">
               <tr>
                  <td width="105px">
                     <img id="2b4me-logo" src="http://2b4me.com/images/2b4me-logo-blue-sm.png" />
                  </td>
                  <td align="left" valign="bottom">
                     <font face="verdana" size="6">
                        Contest Notification<br/>
                        <hr/>
                     </font>
                  </td>
               </tr>
               <tr><td colspan="2"><font face="verdana" size="2">&nbsp;</font></td></tr>
               <tr>
                  <td colspan="2">
                     <font face="verdana" size="2">
                        <p>Thank you for signing up at 2b4me.com. We are very excited to launch this company and
                           to connect people with some of the really cool stuff South Florida has to offer.</p>
                        <p>In our ramp up to launch we are running a promotion to help spread the word on our
                           company AND give you a chance to win some major cash and prizes in the process.</p>
                        <p>You signed up on #date and your contest number is:</p>
                        <h1>#cnum</h1>
                        <p>Keep this number safe. Whenever we run a contest drawing, we will publish the winners
                           on the website <a href="http://2b4me.com">http://2b4me.com</a>, so check back often.
                           We will be notifying on Facebook when new winners are published.</p>
                        <p>Thank you again for your participation. And remember to please tell your friends!</p>
                        <p>&nbsp;</p>
                        <p>Truly yours,<br />The 2b4me.com Team</p>
                     </font>
                  </td>
               </tr>
               <tr><td colspan="2"><font face="verdana" size="2">&nbsp;</font></td></tr>
               <!--
               Copyright &copy; 2011-2012 2b4me, Inc.<br/>
               <a href="http://www.facebook.com/2b4me/posts/320871854654031">Our Story</a> |
               Follow us: <a href="http://www.facebook.com/2b4me">Facebook</a> <a href="http://twitter.com/2b4me_deals">Twitter</a>
               -->
               <tr>
                  <td colspan="2">
                     <font face="verdana" size="2">
                        <hr/>
                        <p id="copyright-2b4me">
                           Copyright &copy; 2011-2012 2b4me, Inc.
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <a href="http://www.facebook.com/2b4me/posts/320871854654031">Our Story</a> |
                           Follow us:
                           <img src="http://2b4me.com/images/social-sprites.png" usemap="#socialmap" />
                           <map name="socialmap">
                              <area shape="rect" coords="0,0,27,22" alt="2b4me on Faceboook" href="http://www.facebook.com/2b4me" />
                              <area shape="rect" coords="25,0,49,22" alt="2b4me on Twitter" href="http://twitter.com/2b4me_deals" />
                           </map>
                        </p>
                     </font>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
</body>

</html>