<html>

<body> <!--  style="font-family: arial,sans-serif; font-size: 12px" -->
   
<p>We have published the winners that were selected in this evening's drawing on the
   website! Go to <a href="http://2b4me.com">http://2b4me.com</a> to see if you've
   won!</p>
   
<p>We've given away a couple of $50 and $20 cash prizes thus far, and we're going to do it
   again the Fourth of July! You've already signed up so there's nothing more for you to do.
   Just check back Wednesday evening, July 4th, to see if your number was drawn.</p>
   
<p>If you have any questions, please send them to
   <a href="mailto:info@2b4me.com">info@2b4me.com</a> and we'll be more than happy to assist.</p>
   
<p>Thank you again for your participation. And remember to please tell your friends!</p>

<p>&nbsp;</p>

<p>Love,<br/>
<strong>Team 2b4me</strong></p>

<p>Like us on Facebook: <a href="http://facebook.com/2b4me">facebook.com/2b4me</a><br/>
   Follow us on Twitter: <a href="http://twitter.com/2b4me_deals">@2b4me_deals</a></p>

<!--
Don't care for these emails?
You can personalize your notification settings, or click here to unsubscribe from all emails with no fuss.
 -->

</body>

</html>