<html>

<body> <!--  style="font-family: arial,sans-serif; font-size: 12px" -->
   
<p>We have published the winners that were selected in this evening's drawing on the
   website!</p>

<p>As a reminder, your contest number is:</p>

<h1>#cnum</h1>

<p>All you have to do is go to <a href="http://2b4me.com">http://2b4me.com</a> and see
   if you're number was drawn! If you won, please send an email to info@2b4me.com with
   your legal name and address to claim your prize.</p>
   
<p>We've given away several $50 and $20 cash prizes thus far, and we're going to do it
   again soon! You've already signed up so there's nothing more for you to do.
   Just check back on this date to see if your number was drawn.</p>
   
<p>If you have any questions, please send them to
   <a href="mailto:info@2b4me.com">info@2b4me.com</a> and we'll be more than happy to
   assist.</p>
   
<p>Thank you again for your participation. And remember to please tell your friends!</p>

<p>Good luck!</p>

<p>&nbsp;</p>

<p>Love,<br/>
<strong>Team 2b4me</strong></p>

<p>Like us on Facebook: <a href="http://facebook.com/2b4me">facebook.com/2b4me</a><br/>
   Follow us on Twitter: <a href="http://twitter.com/2b4me_deals">@2b4me_deals</a></p>

<!--
Don't care for these emails?
You can personalize your notification settings, or click here to unsubscribe from all emails with no fuss.
 -->

</body>

</html>