/********************************** CUSTOMIZATION *****************************************/
.hidden {
	display: none;
}

.error {
	margin: 0px 0px 20px 0px;
}

.error span {
	/* empty for now */
}

div#content-main.nobg {
	min-height: 0px ! important;
	background: none ! important;
}

#profile #user #user-name {
	margin: 0 0 0 48px;
}

#profile #purchased #no-deals-purchased {
	margin: 52px 0px 0px 20px;
}

#profile #cards #no-cc {
	margin: 52px 0px 0px 20px;
}

#purchaseDeal #purchase-deal-content-space {
	min-height: 30px;
}

#purchaseDeal #purchase-deal-content #content-main  {
	padding: 0 13px 0 12px;
	overflow: hidden;
	background: none;
	min-height: 0px;
}

#purchaseDeal #purchase-deal-content .round-btn {
	margin: 0px 20px 0px 20px;
}

#purchaseDeal #purchase-deal-content input {
	margin: 0px 20px 0px 20px;
	color: black;
}

#purchaseDeal #purchase-deal-content img {
	margin: 0px 20px 0px 20px;
}

#purchaseDeal #purchase-deal-content input.zipCode {
	margin: 0px 20px 0px 20px;
	width: 100px;
}

#purchaseDeal #purchase-deal-content input.cc {
	margin: 0px 20px 0px 20px;
	width: 200px;
}

#purchaseDeal #purchase-deal-content input.ccExp {
	margin: 0px 20px 0px 20px;
	width: 40px;
}

#purchaseDeal #purchase-deal-content input.ccCvv {
	margin: 0px 20px 0px 0px;
	width: 40px;
}

#purchaseDeal #purchase-deal-content p {
	margin: 20px 20px 20px 0px;
}

#purchaseDeal #purchase-deal-content select {
	margin: 0px 20px 0px 20px;
}

#purchaseDeal #purchase-deal-content .sel2 {
	margin: 0px 20px 0px 20px;
	width: 80px ! important;
	color: black;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry {
	width: 600px;
	clear: both;
}

#purchaseDeal #purchase-deal-content #content-main #form-space {
	width: 600px;
	clear: both;
	min-height: 45px;
	clear: both;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-label {
	float: left;
	margin: 17px 4px 7px 15px;
	width: 50px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-label.longer {
	width: 60px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 130px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input.shorter {
	width: 45px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input.cc-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 90px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input .data {
	margin: 8px 0px 0px 2px;
	display: block;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error {
    float: left;
    margin-left: 285px;
    margin-top: -22px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error.state {
    margin-left: 415px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error ul li {
    color: red;
    width: 450px;
}

.input-error { 
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px #9ecaed;
	border: 1px solid red ! important;
}

#registration-content-main {
    min-height: 365px;
}

#registration-content-main.complete {
    width: 575px;
}

#registration-content-main.complete img {
    width: 100px;
    height: 100px;
}

#registration-content-main.complete h2 {
    margin: 0px;
    padding-top: 15px;
}

#registration-content-main.complete p {
    margin: 0px;
    padding-top: 15px;
    font-size: 120%;
    color: #0f5173;
}

#registration-content-main.complete p.important {
    color: red;
}

#registration-content-main.complete ul li {
    font-size: 120%;
    margin: 10px;
}

#registration #registration-content-space {
	min-height: 30px;
}

#registration #registration-content #content-main  {
	padding: 0 13px 0 12px;
	overflow: hidden;
	background: none;
	min-height: 0px;
}

#registration #registration-content .round-btn {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content input {
	margin: 0px 20px 0px 20px;
	color: black;
}

#registration #registration-content img {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content input.zipCode {
	margin: 0px 20px 0px 20px;
	width: 100px;
}

#registration #registration-content input.cc {
	margin: 0px 20px 0px 20px;
	width: 200px;
}

#registration #registration-content input.ccExp {
	margin: 0px 20px 0px 20px;
	width: 40px;
}

#registration #registration-content input.ccCvv {
	margin: 0px 20px 0px 0px;
	width: 40px;
}

#registration #registration-content p {
	margin: 20px 20px 20px 0px;
}

#registration #registration-content select {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content .sel2 {
	margin: 0px 20px 0px 20px;
	width: 80px ! important;
	color: black;
}

#registration #registration-content #content-main #form-entry {
	width: 600px;
	clear: both;
}

#registration #registration-content #content-main #form-space {
	width: 600px;
	clear: both;
	min-height: 45px;
	clear: both;
}

#registration #registration-content #content-main #form-entry #form-label {
	float: left;
	margin: 17px 4px 7px 15px;
	width: 100px;
}

#registration #registration-content #content-main #form-entry #form-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 130px;
}

#registration #registration-content #content-main #form-entry #form-input.longer input {
	width: 220px;
}

#registration #registration-content #content-main #form-entry #form-input.cc-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 90px;
}

#registration #registration-content #content-main #form-entry #form-input .data {
	margin: 8px 0px 0px 2px;
	display: block;
}

#registration-loading {
    margin: 93px 0px 93px 200px;
}

#registration #registration-content #content-main #form-entry #form-input-error {
    float: left;
    margin-left: 385px;
    margin-top: -22px;
}

#registration #registration-content #content-main #form-entry #form-input-error ul li {
    color: red;
    width: 450px;
}

.block {
   display: block;
}

#profile #head p {
    clear: both;
    margin: -65px 0px 0px 198px;
}

/* 126 x 128 */

#profile #head img {
    height: 128px;
    width: 126px;
}

#only-a-demo-1 {
    margin-top: 175px;
    margin-left: 725px;
    position: absolute;
    z-index: 1;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/************************************** DEMO LOGIN *********************************************/
#demo-login {
	width: 603px;  min-height: 370px;
	background: #fff;
	border-radius: 5px;
	padding: 47px 0 0;
	position:absolute; top: 50%;  left: 50%;  z-index: 1000;
	margin: -185px 0 0 -301.5px;
}
#demo-login h2 {
	margin: 0 19px 42px 18px;   padding: 0 0 15px 2px;
	color: #256080;
	font:bold 25px Arial, sans-serif;
	letter-spacing: -1px;
	border-bottom: 4px solid #acc8d8;
}
#demo-login .login-input {
	float: left;
	margin:0 0 33px;  padding: 0 0 0 84px;
}
#demo-login label {
	float: left;
	margin: 11px 22px 0 0;
}
#demo-login input {
	padding: 0 0 0 10px;
	float: left;
}

#demo-login-pass { margin: 0 0 0 8px; }

#demo-login-actions {
	padding: 23px 0 0 184px;
	float: left;
}
#demo-login #cancel {
	margin: 10px 74px 0 0;
	float: left;
	color: #256080;
}
#demo-login #cancel:hover { color: #f00; }
#demo-login #cancel:focus { outline: 1px solid #8dd2f9; }

#demo-login #submit { 
	float: left;
	width: 193px;
	padding: 0;
	margin: -3px 0 0;
}
#demo-login #submit:focus {
	background-color: #8dd2f9;
	outline: 2px solid #8dd2f9;
}
#demo-login #close-btn {
	position: absolute;  top:7px;  right:6px;
	width: 28px;  height: 28px;
	background: url(../images/close-btn.png) no-repeat;
}
#demo-login #close-btn:active { background-position: left bottom; }

.demo-hide { display: none; }
/************************************ END DEMO LOGIN *******************************************/

/************************************** LOGIN *********************************************/
#ext-login {
	width: 603px;  min-height: 370px;
	background: #fff;
	border-radius: 5px;
	padding: 47px 0 0;
	position:absolute; top: 50%;  left: 50%;
	margin: -185px 0 0 -301.5px;
}

#ext-login h2 {
	margin: 0 19px 42px 18px;   padding: 0 0 15px 2px;
	color: #256080;
	font:bold 25px Arial, sans-serif;
	letter-spacing: -1px;
	border-bottom: 4px solid #acc8d8;
}

#ext-login .login-input {
	float: left;
	margin: 0 0 33px;
	padding: 0 0 0 70px;
}

#ext-login label {
	float: left;
	margin: 11px 22px 0 0;
}

#ext-login input {
	padding: 0 0 0 10px;
	float: left;
}

#ext-login-pass {
    margin: 0 0 0 8px;
}

#login-pass-label {
    padding-left: 22px;
}

#ext-login-actions {
	padding: 23px 0 0 184px;
	float: left;
}
#ext-login #cancel {
	margin: 10px 74px 0 0;
	float: left;
	color: #256080;
}
#ext-login #cancel:hover { color: #f00; }
#ext-login #cancel:focus { outline: 1px solid #8dd2f9; }

#ext-login #submit { 
	float: left;
	width: 193px;
	padding: 0;
	margin: -3px 0 0;
}
#ext-login #submit:focus {
	background-color: #8dd2f9;
	outline: 2px solid #8dd2f9;
}
#ext-login #close-btn {
	position: absolute;  top:7px;  right:6px;
	width: 28px;  height: 28px;
	background: url(../images/close-btn.png) no-repeat;
}
#ext-login #close-btn:active { background-position: left bottom; }

#ext-fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    width: 100%;
    height: 100%;
    display: none;
}
/************************************ END LOGIN *******************************************/