/********************************** CUSTOMIZATION *****************************************/
.hidden {
	display: none;
}

.error {
	margin: 0px 0px 20px 0px;
}

.error span {
	/* empty for now */
}

div#content-main.nobg {
	min-height: 0px ! important;
	background: none ! important;
}

#profile #user #user-name {
	margin: 0 0 0 48px;
}

#profile #purchased #no-deals-purchased {
	margin: 52px 0px 0px 20px;
}

#profile #cards #no-cc {
	margin: 52px 0px 0px 20px;
}

#purchaseDeal #purchase-deal-content-space {
	min-height: 30px;
}

#purchaseDeal #purchase-deal-content #content-main  {
	padding: 0 13px 0 12px;
	overflow: hidden;
	background: none;
	min-height: 0px;
}

#purchaseDeal #purchase-deal-content .round-btn {
	margin: 0px 20px 0px 20px;
}

#purchaseDeal #purchase-deal-content input {
	margin: 0px 20px 0px 20px;
	color: black;
}

#purchaseDeal #purchase-deal-content img {
	margin: 0px 20px 0px 20px;
}

#purchaseDeal #purchase-deal-content input.zipCode {
	margin: 0px 20px 0px 20px;
	width: 100px;
}

#purchaseDeal #purchase-deal-content input.cc {
	margin: 0px 20px 0px 20px;
	width: 200px;
}

#purchaseDeal #purchase-deal-content input.ccExp {
	margin: 0px 20px 0px 20px;
	width: 40px;
}

#purchaseDeal #purchase-deal-content input.ccCvv {
	margin: 0px 20px 0px 0px;
	width: 40px;
}

#purchaseDeal #purchase-deal-content p {
	margin: 20px 20px 20px 0px;
}

#purchaseDeal #purchase-deal-content select {
	margin: 0px 20px 0px 20px;
    min-width: 60px ! important;
    color: black;
    line-height: 26px;
}

#purchaseDeal #purchase-deal-content .sel2 {
	margin: 0px 20px 0px 20px;
	width: 80px ! important;
	color: black;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry {
	width: 600px;
	clear: both;
}

#purchaseDeal #purchase-deal-content #content-main #form-space {
	width: 600px;
	clear: both;
	min-height: 45px;
	clear: both;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-label {
	float: left;
	margin: 17px 4px 7px 15px;
	width: 50px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-label.longer {
	width: 60px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 88px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input.shorter {
	width: 45px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input.cc-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 90px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input .data {
	margin: 8px 0px 0px 2px;
	display: block;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error {
    float: left;
    margin-left: 285px;
    margin-top: -22px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error.state {
    margin-left: 415px;
}

#purchaseDeal #purchase-deal-content #content-main #form-entry #form-input-error ul li {
    color: red;
    width: 450px;
}

.input-error { 
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px #9ecaed;
	border: 1px solid red ! important;
}

#registration-content-main {
    min-height: 365px;
}

#registration-content-main.complete {
    width: 575px;
}

#registration-content-main.complete img {
    width: 100px;
    height: 100px;
}

#registration-content-main.complete h2 {
    margin: 0px;
    padding-top: 15px;
}

#registration-content-main.complete p {
    margin: 0px;
    padding-top: 15px;
    font-size: 120%;
    color: #0f5173;
}

#registration-content-main.complete p.important {
    color: red;
}

#registration-content-main.complete ul li {
    font-size: 120%;
    margin: 10px;
}

#registration #registration-content-space {
	min-height: 30px;
}

#registration #registration-content #content-main  {
	padding: 0 13px 0 12px;
	overflow: hidden;
	background: none;
	min-height: 0px;
}

#registration #registration-content .round-btn {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content input {
	margin: 0px 20px 0px 20px;
	color: black;
}

#registration #registration-content img {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content input.zipCode {
	margin: 0px 20px 0px 20px;
	width: 100px;
}

#registration #registration-content input.cc {
	margin: 0px 20px 0px 20px;
	width: 200px;
}

#registration #registration-content input.ccExp {
	margin: 0px 20px 0px 20px;
	width: 40px;
}

#registration #registration-content input.ccCvv {
	margin: 0px 20px 0px 0px;
	width: 40px;
}

#registration #registration-content p {
	margin: 20px 20px 20px 0px;
}

#registration #registration-content select {
	margin: 0px 20px 0px 20px;
}

#registration #registration-content .sel2 {
	margin: 0px 20px 0px 20px;
	width: 80px ! important;
	color: black;
}

#registration #registration-content #content-main #form-entry {
	width: 600px;
	clear: both;
}

#registration #registration-content #content-main #form-space {
	width: 600px;
	clear: both;
	min-height: 45px;
	clear: both;
}

#registration #registration-content #content-main #form-entry #form-label {
	float: left;
	margin: 17px 4px 7px 15px;
	width: 100px;
}

#registration #registration-content #content-main #form-entry #form-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 130px;
}

#registration #registration-content #content-main #form-entry #form-input.longer input {
	width: 220px;
}

#registration #registration-content #content-main #form-entry #form-input.cc-input {
	float:left;
	margin: 10px 0px 0px 0px;
	width: 90px;
}

#registration #registration-content #content-main #form-entry #form-input .data {
	margin: 8px 0px 0px 2px;
	display: block;
}

#registration-loading {
    margin: 93px 0px 93px 200px;
}

#registration #registration-content #content-main #form-entry #form-input-error {
    float: left;
    margin-left: 385px;
    margin-top: -22px;
}

#registration #registration-content #content-main #form-entry #form-input-error ul li {
    color: red;
    width: 450px;
}

.block {
   display: block;
}

#profile #head p {
    clear: both;
    margin: -65px 0px 0px 198px;
}

/* 126 x 128 */

#profile #head img {
    height: 128px;
    width: 126px;
}

#only-a-demo-1 {
    margin-top: 175px;
    margin-left: 725px;
    position: absolute;
    z-index: 1;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.company-section-spacer {
   position: relative;
   margin: 0px auto;
   width: 600px;
   border-top: 3px solid #CBD3D8;
}

#company-page-top-image {
   display: block;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 30px;
}

#company-highlights {
   position: relative;
   margin: 20px;
   margin-bottom: 30px;
}

.company-highlghts-segment {
   padding: 10px;
   margin: 10px;
   position: absolute;
   width: 250px;
}

.company-highlghts-segment h3 {
   margin-bottom: 10px;
}

#company-highlights-top-left {
   left: 40px;
   top: 0px;
}

#company-highlights-top-right {
   right: 40px;
   top: 0px;
}

#company-highlights-bottom-left {
   left: 40px;
   bottom: 0px;
}

#company-highlights-bottom-right {
   right: 40px;
   bottom: 0px;
}

#company-highlights-image {
   padding: 10px;
   margin: 10px;  
}

#company-highlights-image img {
   display: block;
   margin: auto;
}

.company-feature {
   position: relative;
   width: 780px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 160px;
}

.company-feature-description {
   
}

.company-feature-description h2 {
   color: #49791F;
   font: bold 34px "Trebuchet MS", Arial, sans-serif;
   margin-bottom: 10px;
}

.company-feature-description p {
   width: 500px;
}

.company-feature-description ul {
   float: left;
   margin-right: 100px;
}

.company-feature-description ul li {
   height: 16px;
   padding: 0 0 0 25px;
   background: url(../images/list-bullet-2.png) no-repeat;
   font: 600 13px Arial, sans-serif;
   line-height: 16px;
   color: #0E71A8;
   margin: 15px 0;
}

.company-feature-image {
   position: absolute;
   right: 0px;
   top: 20px;
}

#company-expert-opinions {
   position: relative;
   width: 780px;
   margin: 20px auto;
   margin-bottom: 30px;
}

#company-expert-opinions h2 {
    color: #49791F;
    font: bold 34px "Trebuchet MS", Arial, sans-serif;
}

#company-expert-opinions-description {
   width: 400px;
   height: 157px;
   background: url(../images/dialogue-box.png) no-repeat;
}

#company-expert-opinions-description img {
   position: absolute;
   left: 20px;
   top: 90px;
}

#company-expert-opinions-description h3 {
   position: absolute;
   left: 110px;
   top: 90px;
}

#company-expert-opinions-description p {
   position: absolute;
   left: 110px;
   top: 120px;
   width: 240px;
}

#company-expert-opinions-benefits {
   position: absolute;
   right: 70px;
   top: 70px;
}

#company-expert-opinions-benefits h4 {
   margin-bottom: 0px;
}

#company-expert-opinions-benefits ul {
   float: left;
   margin-right: 25px;
}

#company-expert-opinions-benefits li {
   height: 16px;
   padding: 0 0 0 25px;
   background: url(../images/list-bullet-2.png) no-repeat;
   font: 600 13px Arial, sans-serif;
   line-height: 16px;
   color: #0E71A8;
   margin: 15px 0;
}

#company-what-makes-us-different {
   position: relative;
   width: 780px;
   height: 375px;
   margin: 20px auto;
   background: url(../images/bttm-grdnt.png) left bottom repeat-x;
}

#company-what-makes-us-different h2 {
    color: #49791F;
    font: bold 34px "Trebuchet MS", Arial, sans-serif;
}

.company-what-makes-us-different-section {
    height: 150px;
    width: 350px;
    margin: 10px;
}

.company-what-makes-us-different-section h3 {
    color: #055984;
    font: bolder 29px Arial;
    margin: 0 0 5px;
    text-transform: none;
}

.company-what-makes-us-different-section h4 {
    font-size: 17px;
    color: #055984;
}

.company-what-makes-us-different-section p {
    
}

.company-what-makes-us-different-section div {
    margin-left: 270px;
    margin-top: -65px;
    margin-bottom: 25px;
}

.company-what-makes-us-different-section div span.company-save-up-to {
    font-family: Arial, Helvetica, sans-serif;
    color: #437B18;
}

.company-what-makes-us-different-section div span.company-save-up-to-pct {
    color: #666;
    font-size: 40px;
    font-weight: 600;
    display: block;
    letter-spacing: -2px;
    margin: -5px 0 0;
}

#company-what-makes-us-different-top-left {
    position: absolute;
    top: 50px;
    left: 15px;
}

#company-what-makes-us-different-top-right {
    position: absolute;
    top: 50px;
    right: 15px;
}

#company-what-makes-us-different-bottom-left {
    position: absolute;
    bottom: -30px;
    left: 15px;
}

#company-what-makes-us-different-bottom-right {
    position: absolute;
    bottom: -30px;
    right: 15px;
}

#contest-area {
    width: 688px;
    height: 625px;
    text-align: center;
    margin: 25px auto;
    padding: 25px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #C3EBF6;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    background-image: url(../images/light.png);
    background-repeat: repeat-x;
    background-position: top;
}

#stamps {
    position: absolute;
    float: right;
    clear: both;
    margin-left: 580px;
    margin-top: -70px;
}

#contest-area .headline {
    display: block;
    font-size: 32px;
    color: #004262;
    font-weight: bold;
    text-shadow: 0em 0.1em 0em white;
    margin-top: 20px;
    margin-bottom: 5px;
}

#contest-area .sub {
    display: block;
    font-size: 25px;
    color: #004262;
    font-weight: bold;
    text-shadow: 0em 0.1em 0em white;
}

#contest-area .textfieldstyle {
    background-color: white;
    border: 1px solid #97D2E2;
    padding: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    height: 24px;
    padding-top: 2px;
    padding-left: 10px;
}

#contest-area .button {
    padding: 0 14px;
    line-height: 28px;
    color: white;
    font-weight: bold;
    border: 1px solid #008CB8;
    border-radius: 4px;
    background: url(../images/grad_button_blue.jpg) repeat-x;
    background-position: top;
    cursor: pointer;
    -webkit-appearance: button;
}

#contest-area #terms {
    width: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#contest-area #next-drawing {
    font-size: 18px;
    color: #004262;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

#contest-area #next-drawing-countdown {
    font-size: 18px;
    color: #004262;
    letter-spacing: 0.1em;
}

#contest-area #next-drawing-countdown img {
    vertical-align: middle;
}

.row {
    margin: 0px 0px 20px 23px;
}

.row .item {
    font-family: Arial, Helvetica, sans-serif;
    width: 207px;
    height: 210px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.item .idnumber {
    color: #DB1330;
    font-size: 30px;
    font-weight: bold;
}

.item .prize {
    font-size: 14px;
    color: #111;
    font-weight: bold;
}

.item .description {
    font-size: 12px;
    color: #007CB6;
}

.item .button {
    line-height: 23px;
    color: white;
    font-weight: bold;
    border: 1px solid #628F2F;
    border-radius: 4px;
    background: url(../images/grad_button_green.jpg) repeat-x;
    background-position: top;
    width: 45%;
    margin: 0px auto;
}

.item .button a {
    text-decoration: none;
    color: white;
}

#contest-area .ad {
    font-family: Arial, Helvetica, sans-serif;
    width: 640px;
    height: 141px;
    text-align: left;
    background-color: white;
    line-height: 1.15em;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#contest-area .ad .ad-content {
    padding: 10px 15px 5px 220px;
    margin-top: -140px;
}

#contest-area .prize {
    font-size: 14px;
    color: #111;
    font-weight: bold;
}

#winners-area {
    width: 688px;
    text-align: center;
    margin: 15px auto 60px auto;
    padding: 25px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #F3F6EF;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    background-image: url(../images/light.png);
    background-repeat: repeat-x;
    background-position: top;
}

#winners-area .toggle a {
    color: #437B18;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#winners-area .headline {
    font-size: 32px;
    color: #4B731D;
    font-weight: bold;
    text-shadow: 0em 0.1em 0em white;
}

#winners-area .contest-alert {
    font-style: italic;
    color: #DB1330;
    font-size: 14px;
}

#winners-area .sub {
    font-size: 20px;
    color: #4B731D;
    font-weight: bold;
    text-shadow: 0em 0.1em 0em white;
    border-bottom: solid 1px;
    border-bottom-color: #D3D6CF;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
}

#winners-area p {
    display: inline;
    line-height: 1.7em;
}

#winners-area .prevwin {
    color: #464646;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#winners-area .expired {
    font-style: italic;
    color: #DB1330;
    font-size: 12px;
}

/************************************** DEMO LOGIN *********************************************/
#demo-login {
	width: 603px;  min-height: 370px;
	background: #fff;
	border-radius: 5px;
	padding: 47px 0 0;
	position:absolute; top: 50%;  left: 50%;  z-index: 1000;
	margin: -185px 0 0 -301.5px;
}
#demo-login h2 {
	margin: 0 19px 42px 18px;   padding: 0 0 15px 2px;
	color: #256080;
	font:bold 25px Arial, sans-serif;
	letter-spacing: -1px;
	border-bottom: 4px solid #acc8d8;
}
#demo-login .login-input {
	float: left;
	margin:0 0 33px;  padding: 0 0 0 84px;
}
#demo-login label {
	float: left;
	margin: 11px 22px 0 0;
}
#demo-login input {
	padding: 0 0 0 10px;
	float: left;
}

#demo-login-pass { margin: 0 0 0 8px; }

#demo-login-actions {
	padding: 23px 0 0 184px;
	float: left;
}
#demo-login #cancel {
	margin: 10px 74px 0 0;
	float: left;
	color: #256080;
}
#demo-login #cancel:hover { color: #f00; }
#demo-login #cancel:focus { outline: 1px solid #8dd2f9; }

#demo-login #submit { 
	float: left;
	width: 193px;
	padding: 0;
	margin: -3px 0 0;
}
#demo-login #submit:focus {
	background-color: #8dd2f9;
	outline: 2px solid #8dd2f9;
}
#demo-login #close-btn {
	position: absolute;  top:7px;  right:6px;
	width: 28px;  height: 28px;
	background: url(../images/close-btn.png) no-repeat;
}
#demo-login #close-btn:active { background-position: left bottom; }

.demo-hide { display: none; }
/************************************ END DEMO LOGIN *******************************************/

/************************************** LOGIN *********************************************/
#ext-login {
	width: 603px;  min-height: 370px;
	background: #fff;
	border-radius: 5px;
	padding: 47px 0 0;
	position:absolute; top: 50%;  left: 50%;
	margin: -185px 0 0 -301.5px;
}

#ext-login h2 {
	margin: 0 19px 42px 18px;   padding: 0 0 15px 2px;
	color: #256080;
	font:bold 25px Arial, sans-serif;
	letter-spacing: -1px;
	border-bottom: 4px solid #acc8d8;
}

#ext-login .login-input {
	float: left;
	margin: 0 0 33px;
	padding: 0 0 0 70px;
}

#ext-login label {
	float: left;
	margin: 11px 22px 0 0;
}

#ext-login input {
	padding: 0 0 0 10px;
	float: left;
}

#ext-login-pass {
    margin: 0 0 0 8px;
}

#login-pass-label {
    padding-left: 22px;
}

#ext-login-actions {
	padding: 23px 0 0 184px;
	float: left;
}
#ext-login #cancel {
	margin: 10px 74px 0 0;
	float: left;
	color: #256080;
}
#ext-login #cancel:hover { color: #f00; }
#ext-login #cancel:focus { outline: 1px solid #8dd2f9; }

#ext-login #submit { 
	float: left;
	width: 193px;
	padding: 0;
	margin: -3px 0 0;
}
#ext-login #submit:focus {
	background-color: #8dd2f9;
	outline: 2px solid #8dd2f9;
}
#ext-login #close-btn {
	position: absolute;  top:7px;  right:6px;
	width: 28px;  height: 28px;
	background: url(../images/close-btn.png) no-repeat;
}
#ext-login #close-btn:active { background-position: left bottom; }

#ext-fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    width: 100%;
    height: 100%;
    display: none;
}
/************************************ END LOGIN *******************************************/