div.blocks {
    padding-bottom: 30px;
}

#dlg-box {
    margin-top: 20px;
}

#expop .block2 {
    margin-top: 60px;
}

.col.left .second {
    margin-top: 75px;
}

.col.right .second {
    margin-top: 75px;
}

#fb {
    position: fixed;
    margin-top: 70px;
    margin-left: 864px;
    background-color:white;
}

#formfeed .text-input {
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

#formfeed .error {
    border:2px solid red;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

#formfeed .text-input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.modal.fade.in {
    /* top: 60%; */
    z-index: 999999;
}

.modal-body {
    min-height: 310px;
}

.modal-footer {
    min-height: 28px;
}

#savewed {
	background-color:#FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 40px;
	margin-top: 20px;
}

#savewed .col.left {
    top: 120px
}

#savewed .col.right {
	top: 120px;
}

#timer {
    width: 240px;
}

#merchantSignup div span.help-inline {
    color: red;
    margin-right: 30px;
}

#merchantSignupCopy {
    width: 190px;
    float: left;
    margin-left: 40px;
}

#merchantSignupLogo {
    /*
    width: 120px;
    height: 120px;
     */
    margin: 10px 10px 10px 25px;
}

#merchantSignupForm {
    float: left;
    margin-left: 30px;
}

#merchantClearLeft {
    clear: both;
}

#merchantThankYouLogo {
    
}

#merchantThankYouLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#merchantThankYouMessage h3 {
    font-size: 200%;
    text-align: center;
    margin: 10px;
}

dd {
    margin-bottom: 15px;
}

.modal-footer .btn + .btn {
    color: white;
}

#terms-and-conditions {
    margin: 0px 200px 50px;
}

#terms-and-conditions h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 200%;
}

.expert-opinion {
    position: relative;
}

.expert-opinion div {
    margin: 10px;
}

.expert-opinion .left {
    float: left;
}

.expert-opinion .right {
    float: left;
}

.expert-opinion .right .dishes {
    width: 400px;
}

.expert-opinion .right .dishes .description {
    float: left;
    /*width: 400px;*/
}

.expert-opinion .right .dishes .picture {
    float: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

#contest-winners {
    width: 778px;
    margin: 0 auto;
    padding: 30px 0 0;
    background: url(images/1px-countbox.png);
    border-radius: 5px;
    list-style: none;
    position: relative;
    z-index: 5;
    border-bottom: 3px solid #CBD3D8;
}

#contest-winners p {
    margin: 5px;
}

#contest-winners .red {
    color: red;
}

#contest-winners .headline {
    margin-bottom: 30px;
}

#contest-winners .headline h2 {
    text-align: center;
}

#contest-winners .headline p {
    text-align: center;
}

#contest-winners .content .winners {
    margin-left: auto;
    margin-right: auto;
}

#contest-winners .content .winners h3 {
    text-align: center;
    margin-bottom: 5px;
}

#contest-winners .content .sub {
     width: 450px;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
}

#contest-winners .content .sub p,
#contest-winners .content .sub h4,
#contest-winners .content .sub h3 {
     text-align: center;
}

#contest-winners .content .last {
     margin-bottom: 35px;
}

#contest-winners .content .previous-winners {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 440px;
}

#contest-winners .content .previous-winners h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 110%;  
}

#contest-winners .content .previous-winners .previous-winner {
    /* border: 1px solid black; */
}

#contest-winners .content .previous-winners .previous-winner p {
    text-align: center;
    font-style: italic;
}

#contest-winners .content .previous-winners .previous-winner ul {
    margin: 0;
}