div.blocks {
    padding-bottom: 30px;
}

#dlg-box {
    margin-top: 20px;
}

#expop .block2 {
    margin-top: 60px;
}

.col.left .second {
    margin-top: 75px;
}

.col.right .second {
    margin-top: 75px;
}

#fb {
    position: fixed;
    margin-top: 70px;
    margin-left: 864px;
    background-color:white;
}

#formfeed .text-input {
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

#formfeed .error {
    border:2px solid red;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

#formfeed .text-input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.modal.fade.in {
    top: 60%;
}

.modal-body {
    min-height: 310px;
}

.modal-footer {
    min-height: 28px;
}

#savewed {
	background-color:#FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top:40px;
}

#savewed .col.left {
    top: 120px
}

#savewed .col.right {
	top: 120px;
}

#timer {
    width: 240px;
}

#merchantSignup div span.help-inline {
    color: red;
    margin-right: 30px;
}

#merchantSignupCopy {
    width: 190px;
    float: left;
    margin-left: 40px;
}

#merchantSignupLogo {
    /*
    width: 120px;
    height: 120px;
     */
    margin: 10px 10px 10px 25px;
}

#merchantSignupForm {
    float: left;
    margin-left: 30px;
}

#merchantClearLeft {
    clear: both;
}

#merchantThankYouLogo {
    
}

#merchantThankYouLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#merchantThankYouMessage h3 {
    font-size: 200%;
    text-align: center;
    margin: 10px;
}